body{
    background-color: aqua;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    direction: rtl;
}

.whole{
    height: 1200px;
    border: 1px solid wheat;
    display: flex;
    justify-content:center;
    margin: 30px;
}
.login{
    width: 70px;
    height: 30px;
    border: 2px solid yellow;
    background: blue;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0 0 0;
    color: wheat;

}

.dis{
    background-color: rgb(2, 67, 104);
    border: 2px solid red;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    color: yellow;

}

.right{
    width: 50%;
    border: 2px solid wheat;
    align-items: center;
    color: rgb(217, 255, 0);
    display:block;
    background-color: blue;

}


img{
    width: 150px;
    height: 180px;
    object-fit: cover;
    margin: 40px 180px 20px 600px;
    background-color: blue;
}

.right h2{
    color: aliceblue;
}

.left{
    background-color: yellow;
    color: blue;
    width: 50%;
    display: inline;
    border: 2px solid wheat;
    display: inline;
    padding: 20px;
}

.left img{
    width: 300px;
    height: 300px;
    border: 2px solid red;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    margin: 40px 120px 30px 50px;
}

.cap{
    background-color: rgba(255, 255, 0, 0.822);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    
}

.text{
    width: 400px;
    height: 200px;
    background-color: aquamarine;
    color:black;
    border: 3px solid red;
    border-radius: 10px;
    margin: 50px 70px 30px 100px;

}

.w{
    display: block;
    direction: ltr;
    
}

.diff{
    width: 70px;
    height: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0 0 10px 0;
}

.status{
    width: 150px;
    height: 10px;
    border: 4px solid grey;
    border-radius: 5px;
    background-color: rgb(88, 88, 0);
    color: black;
    padding: 10px;
    text-align: center;

}

.user-info{
    height: 500px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
    padding: 10px;
    margin: 20px auto;

}

.player{
    width: 300px;
    height: 20px;
    border: 2px solid blue;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgb(72, 72, 228);
    color: yellow;
}

